
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 32% 98%;
    --foreground: 0 0% 15%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;

    --primary: 95 100% 50%;
    --primary-foreground: 0 0% 15%;

    --secondary: 70 10% 92%;
    --secondary-foreground: 95 100% 40%;

    --muted: 97 10% 90%;
    --muted-foreground: 99 10% 42%;

    --accent: 40 90% 65%;
    --accent-foreground: 99 10% 15%;

    --destructive: 0 77% 55%;
    --destructive-foreground: 0 0% 98%;

    --border: 58 13% 90%;
    --input: 58 13% 90%;
    --ring: 95 100% 50%;

    --radius: 1.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  html, body {
    @apply h-full overflow-x-hidden;
    background: #f8fafb;
  }
  
  body {
    @apply text-foreground font-sans antialiased;
    background: #f8fafb;
  }
  
  #root {
    @apply min-h-screen flex flex-col bg-[#f8fafb];
  }
}

@layer components {
  .tribal-input {
    @apply bg-white rounded-md border-[#e4e9e1] text-[#2f3432] px-4 py-3 focus:ring-1 focus:ring-tribal-green focus:border-tribal-green transition-all;
  }
  
  .tribal-card {
    @apply bg-white rounded-lg border border-[#e4e9e1] p-5 shadow;
  }
  
  .tribal-btn-primary {
    @apply bg-tribal-green hover:bg-opacity-90 text-black rounded-lg px-6 py-3 font-medium shadow-md transition-all;
  }
  
  .tribal-btn-accent {
    @apply bg-tribal-orange hover:bg-opacity-90 text-white rounded-lg px-6 py-3 font-medium shadow-md transition-all;
  }
  
  .tribal-btn-outline {
    @apply bg-transparent border border-tribal-green text-tribal-green hover:bg-tribal-green hover:bg-opacity-10 rounded-lg px-6 py-3 font-medium transition-all;
  }

  .progress-tribal {
    @apply h-2 rounded-full bg-[#e4e9e1] overflow-hidden;
  }
  
  .progress-tribal-fill {
    @apply h-full bg-gradient-to-r from-tribal-green to-tribal-purple;
  }
}
